node_modules
node_modules
/kociakWeb/build
/kociakWeb/.gradle
/kociakWeb/.idea
/kociakWeb/build.gradle
/kociakWeb/gradlew
/kociakWeb/gradlew.bat
/kociakWeb/settings.gradle
/kociakWeb/.gradle
/kociakWeb/.gradle
dist